########LED Pin define#####################
NET Z                        		    		LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1


########KEY Pin define#####################
NET A	                        				LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
NET B 	                      	        	LOC = D3 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET C                               		LOC = E4 | IOSTANDARD = "LVCMOS33";       ## KEY3
NET D                               		LOC = E3 | IOSTANDARD = "LVCMOS33";       ## KEY4
