body {
  background: black;
}

.tableStyle {
  border: rgb(0, 0, 0) 3px solid;
  margin: auto;
}

.cellStyle {
  border: rgb(0, 0, 0) 2px solid;
  font-size: 16px;
  padding-right: 25px;
  padding-left: 25px;
  letter-spacing: 2px;
  font-family: "Embassy", cursive;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.head4ap {
  margin-top: 200px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  font-family: "Embassy", cursive;
  font-size: 32px;
}

.headText {
  margin-bottom: 50px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  font-family: "Embassy", cursive;
  font-size: 32px;
}

.Output {
  overflow: auto;
  width: 42.6%;
  color: rgb(0, 0, 0);
  border-radius: 35px;
  height: 95%;
  position: absolute;
  z-index: 1;
  border: rgb(82, 140, 248) solid 2px;
  letter-spacing: 2px;
  font-family: "Embassy", cursive;
  font-size: 24px;
  transition: 1s;
}

.butImg {
  position: absolute;
  margin-top: 7px;
  margin-left: 125px;
  height: 64px;
  width: 64px;
  transition: 0.7s;
}

.butText {
  margin-top: 25px;
  margin-left: 15px;
  float: left;
  font-family: "Embassy BT", cursive;
  color: #313131;
  letter-spacing: 1px;
  font-size: 20px;
}

.but:hover .butImg {
  transform: rotate(360deg);
}

.but:hover {
  margin-left: -10px;
  background: rgba(255, 255, 255, 0.95);
}

.but {
  cursor: pointer;
  width: 200px;
  height: 80px;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 0 40px 40px 0;
  margin-left: -125px;
  margin-bottom: 30px;
  transition: 1s;
}

.middleGif {
  z-index: -1;
  position: absolute;
  left: 0%;
  top: 30%;
  width: 480px;
  height: 320px;
  background: url("Background.gif");
}

.Input::-webkit-scrollbar,
.Output::-webkit-scrollbar {
  display: none;
}

.Input {
  resize: none;
  color: white;
  padding: 25px;
  padding-top: 35px;
  outline: none;
  border-radius: 35px;
  height: 89%;
  position: absolute;
  left: 28%;
  top: 2%;
  background: rgba(116, 135, 243, 0.253);
  border: rgb(82, 140, 248) solid 2px;
  letter-spacing: 2px;
  font-family: "Embassy", cursive;
  font-size: 18px;
}

.Input::selection {
  background: rgb(0, 217, 255);
}
