body {
  margin: 0;
  background: rgb(0, 0, 22);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

input[type='file'] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  box-shadow: 0 0 15px white;
}
