########LED Pin define#####################
NET F                     			LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1

########KEY Pin define#####################
NET X										LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
NET Y										LOC = D3 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET Z                       		LOC = E4 | IOSTANDARD = "LVCMOS33";       ## KEY3
