########LED Pin define#####################
NET Z                     			LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1
NET Z1		         				LOC = N5 | IOSTANDARD = "LVCMOS33";       ## LED2
#NET LED3_out      					LOC = P5 | IOSTANDARD = "LVCMOS33";       ## LED3
#NET LED4_out   						LOC = M6 | IOSTANDARD = "LVCMOS33";       ## LED4

########KEY Pin define#####################
NET A										LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
NET B										LOC = D3 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET A1                      		LOC = E4 | IOSTANDARD = "LVCMOS33";       ## KEY3
NET B1		                     LOC = E3 | IOSTANDARD = "LVCMOS33";       ## KEY4
NET S               					LOC = L3 | IOSTANDARD = "LVCMOS33";       ## RESET
