@import "global-values.css";
@import "global-keyframes.css";

body {
  margin: 0;
  background: var(--box-color);
  display: flex;
  align-items: center;
  height: 100vh;
}

#root {
  position: relative;
  margin: auto;
  width: 800px;
  height: 300px;
  background: var(--linear-color);
  display: -webkit-box;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 3s;
}

form {
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 400px;
  top: -50px;
  left: calc(100% - 390px);
  background: white;
  box-shadow: 0 0 10px black;
  transition: 1s;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hue-class {
  filter: hue-rotate(270deg);
}

form.signin {
  left: 40px;
}

h1 {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--linear-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-input {
  position: relative;
  margin: 30px;
  margin-top: 0;
  height: 40px;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

.user-input:focus-within {
  border-bottom: 1px solid var(--main-color-1);
}

.user-input:focus-within .input-after,
.user-input.active .input-after {
  transform: translateY(-30px) scale(0.85);
  z-index: 3;
}

input[type="text"],
input[type="password"] {
  font-size: 16px;
  outline: none;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0;
  width: calc(100% - 15px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border: none;
  background: transparent;
}

#change-to-signin,
#change-to-signup {
  position: absolute;
  top: 200px;
}

#change-to-signin {
  left: 140px;
}

#change-to-signup {
  right: 140px;
}

.button-input {
  margin-top: 10%;
  height: fit-content;
  display: flex;
}

@keyframes tiltLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@keyframes tiltRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

form.signin {
  animation: 1s ease-out 1 tiltLeft;
}

form {
  animation: 1s ease-out 1 tiltRight;
}

form.signin .button-input {
  margin-top: 20%;
}

input[type="button"],
input[type="submit"] {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0;
  background: var(--linear-color);
  border-radius: 15px;
  box-shadow: 0 3px 2px 0 gray, inset 0 -2px 2px gray;
  border: 1px solid white;
  transition: 0.1s;
}

input[type="button"]:active,
input[type="submit"]:active {
  box-shadow: 0 0 0 0 gray, inset 0 0 4px gray;
}

.input-after {
  font-size: 20px;
  background: white;
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  background: var(--linear-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  filter: brightness(0.6);
  transition: 0.5s;
}

form.signin .user-input:nth-child(4) {
  display: none;
}

.text-signin,
.text-signup {
  margin-top: 50px;
  margin-left: 40px;
  text-shadow: 0 3px 3px black;
  color: white;
  font-size: 28px;
}

.text-signup {
  margin-left: 150px;
}

@media (max-height: 410px) {
  form {
    height: 350px;
    top: -25px;
  }

  .button-input {
    margin-top: -5%;
  }
}

@media (max-width: 735px) {
  .text-signin,
  .text-signup {
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
  }
}

@media (max-width: 650px) {
  #root {
    width: 95%;
  }

  form {
    width: 300px;
    left: calc(100% - 340px);
  }

  form ~ #change-to-signin {
    right: 0;
    left: auto;
    z-index: 2;
    top: -20px;
  }

  form.signin ~ #change-to-signin {
    top: 200px;
    left: 140px;
    z-index: -1;
  }

  form ~ #change-to-signup {
    z-index: -1;
  }

  form.signin ~ #change-to-signup {
    left: 0px;
    right: auto;
    z-index: 2;
    top: -20px;
  }
}

@media (max-width: 350px) {
  form {
    width: 250px;
    left: calc(100% - 290px);
  }
}
