@keyframes keyframes-hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes overflow {
  0% {
    background: linear-gradient(0deg, var(--main-color-1), var(--main-color-2));
  }
  5% {
    background: linear-gradient(
      18deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  10% {
    background: linear-gradient(
      36deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  15% {
    background: linear-gradient(
      54deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  20% {
    background: linear-gradient(
      72deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  30% {
    background: linear-gradient(
      108deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  35% {
    background: linear-gradient(
      126deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  40% {
    background: linear-gradient(
      144deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  45% {
    background: linear-gradient(
      162deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  50% {
    background: linear-gradient(
      180deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  55% {
    background: linear-gradient(
      198deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  60% {
    background: linear-gradient(
      216deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  65% {
    background: linear-gradient(
      234deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  70% {
    background: linear-gradient(
      252deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  75% {
    background: linear-gradient(
      270deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  80% {
    background: linear-gradient(
      288deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  85% {
    background: linear-gradient(
      306deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  90% {
    background: linear-gradient(
      324deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  95% {
    background: linear-gradient(
      342deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
  100% {
    background: linear-gradient(
      360deg,
      var(--main-color-1),
      var(--main-color-2)
    );
  }
}
