@keyframes stroke {
  to {
    stroke-dashoffset: -2500;
  }
}

@keyframes opacity-background {
  from {
    background: #020020ff;
  }
  to {
    background: #02002099;
  }
}

#loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 5;
  background: #02002099;
  animation: 15s linear opacity-background;
}

#loader svg {
  height: 100vh;
  width: 100vw;
}

.circle {
  cx: 50vw;
  cy: 50vh;
  fill-opacity: 0;
  stroke-width: 0.4vh;
  stroke-dasharray: 1250;
  stroke-dashoffset: 0;
  animation: 4s linear infinite stroke;
}

#loader svg .circle:nth-child(1) {
  r: 19vh;
}
#loader svg .circle:nth-child(2) {
  r: 17vh;
}
#loader svg .circle:nth-child(3) {
  r: 15vh;
}
#loader svg .circle:nth-child(4) {
  r: 13vh;
}
#loader svg .circle:nth-child(5) {
  r: 11vh;
}
#loader svg .circle:nth-child(6) {
  r: 9vh;
}
#loader svg .circle:nth-child(7) {
  r: 7vh;
}
#loader svg .circle:nth-child(8) {
  r: 5vh;
}
