:root {
  --head-text: 72px;
  --drop-down-box-text: 32px;
  --main-text: 24px;
  --teacher-height: 110px;
  --student-height: 150px;
  --about-height: 190px;
  --hr-height: 3px;
  --current-page: 2;
  --main-color-1: #5ab0ff;
  --main-color-2: rgb(255, 171, 247);
  --box-color: #020020;
  --linear-color: linear-gradient(
    90deg,
    var(--main-color-1) 0%,
    var(--main-color-2) 100%
  );
}
