//! **************************************************************************
// Written by: Map P.15xf on Wed Oct 20 17:43:29 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Q" LOCATE = SITE "P4" LEVEL 1;
COMP "R" LOCATE = SITE "C3" LEVEL 1;
COMP "S" LOCATE = SITE "D3" LEVEL 1;
COMP "nQ" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

