:root {
    --main-color-background-hover: #00ffb4;
    --main-color-background: black;
    --main-color-text: white;
    --do-pos: -100%;
    --list-pos: -100%;
}

@keyframes header-show {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

body {
    background: var(--main-color-background);
    color: var(--main-color-text);
}

.form {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.form input {
    border: none;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 1px solid var(--main-color-background-hover);
}

.form .title {
    font-size: 32px;
    height: fit-content;
}

.main-header {
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 0.5vw;
}

.main-header span:nth-child(1) {
    animation: 0.5s header-show cubic-bezier(1,.11,.28,-0.28);
}

.main-header span:nth-child(2) {
    animation: 0.75s header-show cubic-bezier(1,.11,.28,-0.28);
}

.main-header span:nth-child(3) {
    animation: 0.9s header-show cubic-bezier(1,.11,.28,-0.28);
}