<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title></title>
</head>
<body>
    <header class="main-header"><span>To</span><span>do</span> <span>list</span></header>
    <form action="./index.ejs" method="post" class="form">
        <input type="text" placeholder="Title" name="title" class="title">
        <input type="text" placeholder="Text" name="text" class="text">
        <input type="file" name="file" class="file">
        <input type="submit">
    </form>
</body>
</html>